<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.5.3" targetFramework="net472" />
  <package id="MoreComplexDataStructures" version="1.9.1" targetFramework="net472" />
  <package id="OptimizedPriorityQueue" version="5.1.0" targetFramework="net472" />
  <package id="RapidPriorityQueue" version="2.0.0.0" targetFramework="net472" />
</packages>